<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
   <title>Booki Publisher</title>
   <link type="text/css" href="_templates/editor_resources/editor.css" rel="Stylesheet" >
   <script type="text/javascript" src="_templates/jquery/js/jquery-1.6.1.min.js"></script>
   <script type="text/javascript" src="_templates/jquery/js/jquery-ui-1.8.13.custom.min.js"></script>
   <script type="text/javascript" src="_templates/jquery/js/jquery.multiselect.min.js"></script>
   <link type="text/css" href="_templates/jquery/css/smoothness/jquery-ui-1.8.13.custom.css" rel="Stylesheet" >
   <link type="text/css" href="_templates/jquery/css/jquery.multiselect.css" rel="Stylesheet" >
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 </head>
<body>
<div id="page-container">
<!-- top bar + drop shadow -->
<div class="topbar shadow">
<a href="admin.php"><img alt="Booki logo" src="_templates/editor_resources/booki_logo_topleft.png" border="0"></a>

</div>

</div>
<!-- End top bar -->

<!-- nav box + drop shadow -->
<div class="navbox shadow" style="top:70px;">
    		<ul>
		<admin-index/>
           	</ul>
</div>
<!-- End of nav box -->

<div class="content-container shadow">
<!-- Content box and the drop shadow-->
<content-goes-here/>

</div>
<!-- End of content -->

</div>

</body>
</html>

