<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="<textdirection/>">
  <head>
    <title>FLOSS Manuals</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="image/x-icon" rel="icon" href="_templates/fm_resources/fl2.ico" />
    <link type="text/css" rel="stylesheet" href="_templates/fm_resources/fm_book.css" />
    <link type="text/css" href="_templates/prettify/src/prettify.css" rel="Stylesheet" />
    <script type="application/javascript" src="_templates/prettify/src/prettify.js"></script>
    <script type="application/javascript" src="_templates/jquery/js/jquery-1.6.1.min.js"></script>
    <script type="application/javascript" src="_templates/fm_resources/fm_book.js"></script>
    <style type="text/css">
    img {
      border: 0px;
    }
    .arrow img {
      height: 20px !important;
    }
    .comment-box {
      margin-top: 2em;
    }
    </style>
  </head>
  <body onload="prettyPrint();">
    <div id="home">
      <a href="http://www.flossmanuals.net">
        <img src="_templates/fm_resources/top_read_back.gif" alt="Back to book list" />
      </a>
    </div>

    <div id="pdf">
      <a href="http://en.flossmanuals.net/<epub-location/>">
        <img src="_templates/fm_resources/epub.gif" alt="Export as epub" />
      </a>
      <a href="http://en.flossmanuals.net/<pdf-location/>">
        <img src="_templates/fm_resources/pdf.gif" alt="Export as PDF" />
      </a>
      <a href="/<book-dir/>/_all">
        <img src="_templates/fm_resources/print.gif" alt="Print book" />
      </a>
    </div>

    <div id="index-book-title">
      <book-title/>
    </div>
    
    <div id="main">
      <div class="navbar">
        <div class="arrow top left">
          <a href="#">
            <img src="_templates/fm_resources/lefttext.png" alt="" />
          </a>
        </div>
        <div class="arrow top right">
          <a href="#">
            <img src="_templates/fm_resources/righttext.png" alt="" />
          </a>
        </div>
      </div>
<!-- 
      <div id="edit-links">
          <a href='http://www.booki.cc/'>Edit this Book</a>
      </div>
-->

      <div class="fm-content">
        <content-goes-here/>
      </div>
      
      <div class="comment-box">
        <p>your comment:</p>
        <widget-comments/>
      </div>
      
      <div class="navbar">
        <div class="arrow bottom left">
          <a href="#">
            <img src="_templates/fm_resources/lefttext.png" alt="" />
          </a>
        </div>
        <div class="arrow bottom right">
          <a href="#">
            <img src="_templates/fm_resources/righttext.png" alt="" />
          </a>
        </div>
      </div>
    </div>
    <!-- Piwik -->
    <script type="application/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.flossmanuals.net/" : "http://piwik.flossmanuals.net/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='application/javascript'%3E%3C/script%3E"));
    </script>
    <script type="application/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
    </script>
    <noscript>
      <p><img src="http://piwik.flossmanuals.net/piwik.php?idsite=1" alt="" /></p>
    </noscript>
    <!-- End Piwik Tracking Code -->
    <analyzer/>
  </body>
</html>

