<html>
	<head>
		<title>FLOSS Manuals (en)</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" href="_templates/fm_resources/fl2.ico" type="image/x-icon" /> 
		<link rel="shortcut icon" href="_templates/fm_resources/fl2.ico" type="image/x-icon" />

		<link rel=StyleSheet href='_templates/fm_resources/fm.css' type='text/css' media='screen'>

<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss" />
	</head>
<body  background="_templates/fm_resources/background.gif" style="margin:0;color:#000000;text-decoration:none;">
<p />
<div style='position:absolute;top:140px;left:970px;background-color:white;border:2px solid #666;padding:5px'>
<img src='_templates//bookstore_resources/bookstore.gif'/>
<style>
  @import url('_templates/bookstore_resources/bookstore.css');
  </style>
	<script src='_templates/bookstore_resources/bookstore.js' type='text/javascript'></script>
	 <script type='text/javascript'>
		  FM.init({'show':'random','items': 5, 'next_desc': 'MORE &gt;&gt;', 'prev_desc': '&lt;&lt; BACK', 'paging': true});
	 </script>
	 </div>
<style>
body
{
margin:0;
padding:0
}
h1 {
color:#000000;
}
h2 {
color:#000000;
}
</style>



<!-- Header graphic is common to all pages  -->
<div id="header"><img id="header_image" alt="FlossManuals menu" src="_templates/fm_resources/header_menu.gif" height="95" width="465" border="0"></div>


<!-- Navigation buttons are language and context specific  -->
<div id="navigation">
<a title="Read" href="http://en.flossmanuals.net/index.php"><img src="_templates/fm_resources/read_en.png" width="65" height="30" border="0" alt="Read"></a>
<a title="Write" href="http://booki.flossmanuals.net/"><img src="_templates/fm_resources/write_en.png" width="65" height="30" border="0" alt="Write"></a>
<a title="Remix" href="http://en.flossmanuals.net/index.php?plugin=remix"><img src="_templates/fm_resources/remix_en.png" width="65" height="30" border="0" alt="Remix"></a>
<a title="About" href="http://en.flossmanuals.net/index.php?plugin=blog"><img src="_templates/fm_resources/about_active_en.png" width="65" height="30" border="0" alt="About"></a>
</div>

<!-- Language buttons are common to all pages  -->
<div id="languages">
<a title="English" href="http://en.flossmanuals.net/"><img src="_templates/fm_resources/english_button.png" width="65" height="30" border="0" alt="English"></a>
<!-- <a title="Español" href="http://es.flossmanuals.net/"><img src="_templates/fm_resources/spanish_button.png" width="65" height="30" border="0" alt="Español"></a> -->
<a title="فارسی" href="http://fa.flossmanuals.net/"><img src="_templates/fm_resources/farsi_button.png" width="65" height="30" border="0" alt="فارسی"></a>
<a title="Suomi" href="http://fi.flossmanuals.net/"><img src="_templates/fm_resources/finnish_button.png" width="65" height="30" border="0" alt="Suomi"></a>
<br>
<a title="Français" href="http://fr.flossmanuals.net/"><img src="_templates/fm_resources/french_button.png" width="65" height="30" border="0" alt="Français"></a>
<a title="Nederlands" href="http://nl.flossmanuals.net/"><img src="_templates/fm_resources/dutch_button.png" width="65" height="30" border="0" alt="Nederlands"></a>
<!-- <a title="Pусский" href="http://ru.flossmanuals.net/"><img src="_templates/fm_resources/russian_button.png" width="65" height="30" border="0" alt="Pусский"></a> -->
<a title="Translate" href="http://translate.flossmanuals.net/"><img src="_templates/fm_resources/translate_button.png" width="65" height="30" border="0" alt="Translate"></a>
</div>



<p />
<p />
<p />
<p />
</div>
<div style="position:absolute;left:20px;top:140px;">
 <img src='_templates/fm_resources/about_contact.gif' border=0><Br> <img src='_templates/fm_resources/about_text.gif' border=0>
</div>
		<div style="position:absolute;left:270px;top:130px;">
		<table  cellpadding="0" cellspacing="0" summary="" style="table-layout:fixed;width:670;border: 5px solid #666666;padding-right: 0px;padding-left: 0px;padding-bottom: 0px;padding-top: 0px;margin-left : 10px;margin-top:10;background:#FFF7F0;">
			<tr>
			<td width=100%>
			<div class="ds-contentcontainer">
			<div style="margin-left:1.2em;">
 <img src='_templates/fm_resources/text_about.gif' border=0 style='position:absolute;top:30px;'><br><div align=right></div><br><br><br>
<p />
<p /><script type="text/javascript">
function addLoadEvent(func) {
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
         window.onload = func;
  } else {
         window.onload = function() {
                oldonload();
                func();
         }
  }
}

function insertAfter(newElement,targetElement) {
  var parent = targetElement.parentNode;
  if (parent.lastChild == targetElement) {
         parent.appendChild(newElement);
  } else {
         parent.insertBefore(newElement,targetElement.nextSibling);
  }
}
var divList = document.getElementsByTagName("div");
function HideByTitle(){
var titleList ='blog,about,credits,contact';
    var titlesToHide = titleList.split(",");
    for(var a = 0; a < divList.length; a++)
        for(var b = 0; b < titlesToHide.length; b++)
            if(divList[a].id == titlesToHide[b])
                 divList[a].style.display='none';
}

function ShowByTitle(titleList){
HideByTitle();
    var titlesToShow = titleList.split(",");
    for(var a = 0; a < divList.length; a++)
        for(var b = 0; b < titlesToShow.length; b++)
            if(divList[a].id == titlesToShow[b])
                divList[a].style.display='block';
}
  function setTab(tabNumber) {
              document.getElementById('tab1').style.background='#ffa54d';
              document.getElementById('tab1').style.borderBottom='1px solid #999';
              document.getElementById('tab2').style.background='#ffa54d';
              document.getElementById('tab2').style.borderBottom='1px solid #999';
              document.getElementById('tab3').style.background='#ffa54d';
              document.getElementById('tab3').style.borderBottom='1px solid #999';
              document.getElementById('tab4').style.background='#ffa54d';
              document.getElementById('tab4').style.borderBottom='1px solid #999';
              document.getElementById(tabNumber).style.background='white';
              document.getElementById(tabNumber).style.borderBottom='1px solid white';
              }
</script>
<style>
div.line { height: 1em;
position:absolute;
top:137px;
width:630px;
border-top: solid #999 1.2px; }
</style>
<div class="line"></div>
<div  id="tab1" style="position:absolute;top:120px;left:50px;z-index:5;border:1px solid #999;float: left;padding-left: 20px; padding-right: 20px; background-color: white; margin-right: 20px;color:black;border-bottom:1px solid white;">
<a href="javascript:void(ShowByTitle('blog'))" onclick="setTab('tab1')">Blog</a>
</div>
<div  id="tab2" style="position:absolute;left:155px;top:120px;z-index:5;border:1px solid #999;float: left;padding-left: 20px; padding-right: 20px; background-color: #ffa54d; margin-right: 20px;color:black;">
<a href="javascript:void(ShowByTitle('about'))" onclick="setTab('tab2')">About</a>
</div>
<div  id="tab3" style="position:absolute;top:120px;left:260px;z-index:5;border:1px solid #999;float: left;padding-left: 20px; padding-right: 20px; background-color: #ffa54d; margin-right: 20px;color:black;">
<a href="javascript:void(ShowByTitle('credits'))" onclick="setTab('tab3')">Credits</a></font>
</div>
<div  id="tab4" style="position:absolute;top:120px;left:380px;z-index:5;border:1px solid #999;float: left;padding-left: 20px; padding-right: 20px; background-color: #ffa54d; margin-right: 20px;color:black;">
<a href="javascript:void(ShowByTitle('contact'))" onclick="setTab('tab4')">Contact</a></font>
</div>
<style>
#news h1,h2,h3 {
font-size: 16px;
font-family : Arial,verdana, sans-serif;
font-weight : Bold;
margin-bottom: 10px;
margin-top: 12px;
padding-top : 15px;
}
.imgcontainer {
        position:relative;
        }
.caption {
        position:relative;
        bottom:1;
        left:0;
        text-align:center;
        background:#ffe7cb;
        width:100%;
        opacity:.75;
        filter:alpha(opacity=85);
        color:#000;
        font-style: italic;
                font-size: 9px;
        line-height:11px;
        }
</style>
<div id='about' style='display:none;'>
<br><br><br><p>
<h1>Questions and Answers
</h1>
<p>We've compiled this list of Frequently Asked Questions (FAQ) with answers from FLOSS Manuals community members. These questions surrounding FLOSS Manuals beginnings, history, projects, and concepts offer you more information about the community and toolset that is FLOSS Manuals.
  <br />
</p>
<h2>What is FLOSS Manuals?
</h2>
<p> FLOSS Manuals is a collection of manuals about free and open source software together with the tools used to create them and the community that uses those tools. They include authors, editors, artists, software developers, activists, and many others. There are manuals that explain how to install and use a range of free and open source softwares, about how to do things (like design) with open source software, and manuals about free culture services that use or support free software and formats.
</p>
<p> Anyone can contribute to a manual – to fix a spelling mistake, to add a more detailed explanation, to write a new chapter, or to start a whole new manual on a topic.
</p>
<p> You can read and use the manuals in a number of different ways. They are available online in separately indexed chapters, and you can use the website as a reference base in this way. You can also view, download, or print each manual as a PDF file. It is also possible to ‘remix’ manuals to create a version that only includes specific aspects of a particular manual, or that combines chapters from two or more manuals in a single document. These can be downloaded and printed, added to websites, and used for any purpose. You can also print a manual, or an individually ‘remixed’ manual, as a book via the print-to-order service of Lulu.com.
</p>
<h2>What does FLOSS stand for?
</h2>
<p> F. L. O. S. S. stands for Free Libre Open Source Software. Basically, this means software that makes its code available for anyone to use, change, and redistribute under the same terms. If you're still confused, you can read more below.
  <br />
</p>
<h2>What is Open Source? What is the difference between Free and Open?<strong> </strong>
</h2>
<p>Open Source emphasizes availability of source code to software users. This means not only that the source code is available at no cost and with little difficulty, but that users can modify the source code and distribute the results under the same conditions. Bruce Perens wrote the original Open Source definition for Debian.
</p>
<p>Free Software emphasizes the freedom to modify and reuse software, which of course also requires that source code be readily available. Richard M. Stallman initiated the definition of Free Software as part of the creation of the Free Software Foundation and its GNU project (GNU's Not Unix) to create a completely Free Unix-compatible operating system and set of software tools. GNU software together with the Linux kernel, plus contributions from many other sources, constitute the GNU/Linux Operating System, commonly known as Linux.
</p>
<p>So in practice the differences in meaning between the two phrases are not great, but they lead to some differences in attitude, terminology, and use of specific license terms. One reason for the difference in terminology is that "Free" is ambiguous in English. FSF has to explain that it means, "Free as in Free Speech, not as in Free Beer." To counter this, the unambiguous French term "Libre" can be added in, resulting in FLOSS, or Free (Libre) Open Source Software.&nbsp;
</p>
<p>FSF maintains a page explaining the various Free and Non-FREE licenses. The BSD (Berkeley Software Distribution) license, for example, allows users to modify source code and put the changes under a restrictive commercial copyright, as Apple has done in Mac OS/X. Since most BSD users put their changes under BSD, it can be considered somewhat, but not entirely, Free.
</p>
<p>In addition to these software licenses, there are several licenses for documentation and other content, most notably the GFDL (GNU Free Documentation License) and the various Creative Commons licenses. FLOSS Manuals uses the Free Software GPL for all of its work.
  <br />
</p>
<p>For details of definitions and available licenses, see
</p>
<ul>
  <li><a href="http://www.fsf.org">http://www.fsf.org/</a> Free Software Foundation
  <br /></li>
  <li><a href="http://www.gnu.org">http://www.gnu.org/</a> The GNU Foundation
  <br /></li>
  <li><a href="http://www.opensource.org/docs/definition.php">http://www.opensource.org/docs/definition.php</a> Open Source Initiative
  <br /></li>
  <li><a href="http://www.opensource.org/licenses">http://www.opensource.org/licenses</a>&nbsp; Open Source Licenses</li>
  <li><a href="http://www.fsf.org/licensing/licenses/">http://www.fsf.org/licensing/licenses/</a>&nbsp; Free and Non-Free Licenses
  <br /></li>
  <li><a href="http://www.creativecommons.org">http://www.creativecommons.org/</a>&nbsp; Non-software licenses
  <br /></li>
</ul>
<h2>A Little About the History..
</h2>
<p> Adam Hyde started FLOSS Manuals while a digital artist. Adam had made a living running workshops on free software all over the world and had accumulated a lot of support material in the form of workshop manuals. In 2005 this material was put into a wiki with the help of Aleksandar Erkalovic and Lotte Meijer did the design. In 2006 Lotte Meijer and Adam Hyde applied for and recieved funding from Digital Pioneers to extend FLOSS Manuals. Thus the development and design of FLOSS Manuals as it is now started in 2006. This is the same year the Foundation was registered. Several digital artists were commissioned to write manuals on Audacity, Gimp, Blender, and PureData.
  <br />
</p>
<p>The actual site wasn't ready until May 2007. The first unsolicited edit on the site was in July 2007. FLOSS Manuals was officially launched at a party at Montevideo Time Based Arts (Amsterdam) in October 2007.
  <br />
</p>
<p>In 2008 we created the Farsi version of FLOSS Manuals <a href="http://fa.flossmanuals.net">(<a href="http://fa.flossmanuals.net" target="_top">http://fa.flossmanuals.net</a>)</a> and started our first Book Sprints.
  <br />
</p>
<p>Now there are over 40 manuals on free software, and 1200 registered contributors and a healthy and active mailing list. Burmese, French, Finnish and Spanish language communities are currently being established.
  <br />
</p>
<h2>What's the benefit to me of using FLOSS and FLOSS Manuals?
</h2>
<p>
</p>
<p>By using free/libre/open-source software, you have the right to use, change&nbsp; and share the software freely. FLOSS is also usually no-cost. You are not dependent on a big company to add features or fix problems; for FLOSS, these issues are handled by a community of software developers, which often
  <br />responds more quickly. If the FLOSS community doesn't address a problem that have with the software, you can hire a programmer to do it for you; this is almost never possible with proprietary software.
  <br />
  <br />Similarly, when you use free/libre/open-source manuals, you have the right to use, modify and share the documentation freely. Manuals on the FLOSS Manuals site are no-cost to use online. For paper copies, we charge just for the paper and printing, and a little extra to support making more books. You can also take the online version as a PDF file and print it yourself. You can also edit the documents on the site, for example, if you find things are incorrect, out of date, or incomplete. (You can also change your own copy, but we appreciate if you help us make the manuals on the site better.)
</p>
<h2>What is a Book Sprint?
</h2>
<p> Book Sprints are an innovative format based on Code Sprints but with the focus on producing documentation instead of code. A sprint brings together a group of writers, editors, and perhaps an artist and production specialist, to go from outline to published book in five days.
  <br />
</p>
<p>Writing a book in a week is an incredible and demanding feat. It was enabled by the FLOSS Manuals platform which has turned the corner from wiki to collaborative publishing platform. The platform enables fluent collaboration with local and remote writers, a low technical threshold and an automated print source generator that produces beautiful book formatted PDF. Upload this to a print on demand service and you have a fast moving process able to produce books at the same rate programmers change the software.
</p>
<p>
</p>
<h2>What software is the FLOSS Manuals site using?
</h2>
<p> The website hosted at flossmanuals.net is built on a TWiki installation and uses extensions that are given back to the TWiki community. It is all free software. We are building a new platform to replace the existing system. The new platform is called 'booki'.
  <br />
</p>
<h2>Who runs FLOSS Manuals?
</h2>
<p> FLOSS Manuals is registered as a 'Stichting', a non profit foundation, in the Netherlands. There are no employees. Most admin tasks are undertaken by Adam Hyde.
  <br />
</p>
<h2>Why did you create FLOSS Manuals?
</h2>
<p>FLOSS Manuals was started to remedy the deficit of good free documentation about how to use Free Software. The original idea (and this philosophy continues today) was to distribute the means to contribute to manuals, text books, teaching materials, etc by creating a very simple and easy to use interface for collaborating on the creation of comprehensive texts about Free Software.
</p>
<h2>What other additional books have been suggested?
</h2>
<p>Lots! and you can add more. Here are a few:
</p>
<ul>
  <li>
  <p>Any widely used and insufficiently documented FLOSS product
  </p></li>
</ul>
<ul>
  <li>
  <p>Getting Started with Free Software
  </p></li>
</ul>
<ul>
  <li>
  <p>Grannies' Guides
  </p></li>
</ul>
<p> <style type="text/css"> <!--
		@page { size: 8.5in 11in; margin: 0.79in }
		P { margin-bottom: 0.08in }
	--> </style>
</p>
<ul>
  <li>
  <p>Audio production
  </p> </li>
  <li>
  <p>Streaming audio
  </p> </li>
  <li>
  <p>Video production
  </p> </li>
  <li>
  <p>Streaming video
  </p> </li>
  <li>
  <p>Web design
  </p> </li>
  <li>
  <p>Web hosting
  </p> </li>
  <li>
  <p>Database software
  </p> </li>
  <li>
  <p>Knowledge bases
  </p> </li>
  <li>
  <p>Mind mapping
  </p> </li>
  <li>
  <p>Finding information
  </p> </li>
  <li>
  <p>Wiki software
  </p> </li>
  <li>
  <p>Scripting
  </p> </li>
  <li>
  <p>Regular expressions
  </p> </li>
  <li>
  <p>Search engines
  </p> </li>
  <li>
  <p>Learning materials and lesson plans
    <br />
  </p> </li>
  <li>
  <p>Sampling (FLOSS + CC)
  </p> </li>
</ul>
<p>These questions discuss the content written and distributed on the FLOSS Manuals site.
  <br />
</p>
<h2>Is the content on FLOSS Manuals only about software?
  <br />
</h2>
<p>
</p>
<p> Software manuals was our starting point, but it is not at all the whole story. We will consider any topic in which FLOSS is an essential element. This includes software products, applications of FLOSS, the reasons for using FLOSS, and the consequences of FLOSS.
  <br />
</p>
<p>
</p>
<h2>Where does the content come from?
</h2>
<p>The content in FLOSS Manuals comes from a growing community of writers. Originally most of the content was written by founder members. As it became clear what a great tool FM was different communities of users and writers started to adopt FM as their home for documentation. Software writers, the Transmission video network, Sugar Labs are some of those communities.
</p>
<p>Book sprints where travel and food are provided are another great source of content [see question on book sprints].
</p>
<p>And most importantly to keep the FLOSS Manuals community growing we need the content to come from you. If you see something in FM that is out of date then you can log in and update it. If you see a chapter you would like to add then make a start on it. You can use the mailing list to get feedback and support.
  <br />
</p>
<h2>Can I reuse this content somewhere else?
</h2>
<p>Absolutely. Please do. The only requirements are that you use it under GPL and maintain the original copyright information. The specifics about GPL are list here : <a target="_blank" href="http://www.gnu.org/licenses/licenses.html">http://www.gnu.org/licenses/licenses.html</a>. But, really, we are more concerned with getting the material out there then anything else. If you want to do something else with the material (for example, using it under a different license), you can let us know, or track down the original author yourself.
</p>
<h2>What is remix?&nbsp;
</h2>
<p> "Remix" is borrowed from the practice of mixing new music from existing source material, with or without the addition of new material. In FLOSS Manuals, Remix at <a href="/remix" target="_top">http://en.flossmanuals.net/remix</a> is a tool that allows you to drag and drop chapters from any book in the FLOSS Manuals "Read" area into a new deliverable. The Remix tool enables you to create a new PDF or a new set of HTML files from the recombined set of chapters. Remixing a chapter from here and a page from there is a standard practice in education, within the limits of Fair Use. Now you can go all out.
  <br />
</p>
<h2>What are the outputs I can get from FLOSS Manuals?
</h2>
<p> The basic outputs you can generate from the FLOSS Manuals tool are PDF, ODT and HTML. The HTML is published on our Web site, and is available for download in Windows and Unix archive formats.&nbsp; Offered in a beta format is an AJAX output that you can embed into a website as an iFrame per chapter that basically queries the FLOSS Manuals content repository and serves the content to your web pages.
  <br />
</p>
<h2>Why do you have so many manuals on X?&nbsp;
</h2>
<p> This is largely a legacy of the people involved. The original manuals were written by Adam Hyde from his workshops on streaming media. This is why a lot of the manuals are about streaming audio and video. After that initial period more manuals have been added by people with their own interest. Depending on how active they are that topic becomes more populated. For example, FLOSS Manuals has a lot of material about Video Distribution because of the active role of Mick Fuzz in this area, there is a lot of material on OLPC/Sugar because of Anne Gentle's hard work.
</p>
<p>So, if you want to see a particular software become more present in FLOSS Manuals it's up to you!
</p>
<h2>Why don't you have a book on X?
  <br />
</h2>
<p>There can be at several reasons why a book on a particular topic or software
  <br />doesn't appear on the FLOSS Manuals site:
  <br />
</p>
<ol>
  <li>We only have documents that relate to free/libre/open-source software. We don't have documents for closed software.</li>
  <li>An open source document on that topic already exists elsewhere.&nbsp;
  <br /></li>
  <li>It might exist elsewhere, but we don't know about it yet. We are interested in linking to free/libre/open-source documents for free/libre/open-source software. Please send your link to the discussion list. (We are not interested in hosting or linking closed documentation or closed software. That has its place, but it's not part of our mission.)</li>
  <li>If it's not here and it's not somewhere else, then nobody has written it yet. If you are interested in creating it, join the discussion list (see below) and ask on the list for a new manual to be set up.</li>
</ol>
<h2>Is there a book on x?
</h2>
<p>Maybe, check the FLOSS Manuals site of your language.
  <br />
</p>
<h2>How do I start a manual?
</h2>
<p> Join the FLOSS Manuals mailing list and request a new manual be created.
  <br /><strong><a href="http://lists.flossmanuals.net/listinfo.cgi/discuss-flossmanuals.net" target="_newsish">http://lists.flossmanuals.net/listinfo.cgi/discuss-flossmanuals.net</a></strong>
</p>
<h2>How do I start a translation?
  <br />
</h2>
<p>Join the FLOSS Manuals mailing list and request a new manual translation be created.
  <br /> <strong><a href="http://lists.flossmanuals.net/listinfo.cgi/discuss-flossmanuals.net" target="_newsish">http://lists.flossmanuals.net/listinfo.cgi/discuss-flossmanuals.net</a></strong>
</p>
<h2>Why should you write another manual when other manuals are available?
  <br />
</h2>
<p>Sometimes the documentation written by and for software developers isn't the best for end users. We create docs that are much more user friendly for people approaching the software for the first time. If there is already a manual for a given subject we still encourage anyone that wants to write another one to do it - after all, there is never going to be 'too much' information on free software.
  <br />
</p>
<h2>How/Why is FLOSS Manuals' approach beneficial?
</h2>
<p> We have the most agile book creation process in the world, and we have an outstanding community of contributors who understand the needs of our target audiences and can turn nerdspeak into language that your grandmother would recognize.
  <br />
</p>
<h2>Textbooks?&nbsp;
</h2>
<p>We have many manuals that are excellent material for course work. You can consider including them in your required or recommended reading. If you would like to go further then ask students to contribute to the manuals as part of their course work.
  <br />
</p>
<h2>How can I use FLOSS Manuals to create web pages or online help?
</h2>
<p>FLOSS Manuals has two examples of our content being used for HTML output, besides the HTML versions of the books published here. One is the online Help Activity shipped with the Sugar operating system. The HTML is exported through the Remix tool and then checked in with the source code of the project. The other example is the Message in a Box tactical technology page at <a href="http://miab.tacticaltech.org/welcome">http://miab.tacticaltech.org/welcome</a>&nbsp; that helps people use multimedia, online or offline tools to advance their cause.
</p>
<p>
</p>
<h2>How do I get a printed book?
</h2>
<p>Click the Buy Now! link for any FLOSS Manuals publication to go to Lulu.com and order a copy printed and shipped.
  <br />
</p>
<h2>Does FLOSS Manuals offer distribution channels for their books?
</h2>
<p>We are working on distribution through Amazon. However its slow.
  <br />
</p>
<p>
</p>
<h2>What license is the content distributed under?&nbsp;
</h2>
<p> GPL
  <br />
</p>
<h2>How can I help with FLOSS Manuals?
</h2>
<p>
</p>
<p>Here are some of the ways that you can help:
  <br />
</p>
<ul>
  <li>Read and bookmark our manuals.</li>
  <li>Write a review.
  <br /></li>
  <li>Contribute to writing or editing our manuals.</li>
  <li>Buy paper copies of manuals (see our bookstore). A small markup on the paper books goes to support making more manuals.</li>
  <li>Embed a manual on your web site.</li>
  <li>Embed our bookstore widget in your web site.</li>
  <li>Contact us about other way to help. We're always looking for people who can help run book sprints, assist in administration, or offer in-kind web-services.
  <br /></li>
</ul>
<h2>Who can write a manual at FLOSS Manuals?
  <br />
</h2>
<p>
</p>
<p>Anybody can contribute to a manual. To get write access to the "write" area of the site, all you need to do is to create a login ID on flossmanuals.net.&nbsp; By creating a login ID, you agree to release what you create here under&nbsp; the GNU General Public License. Your login and profile&nbsp; information is used to attribute copyright to you for what you write. We prefer that you use your real name, but you can use a pseudonym if you don't mind owning copyright under that pseudonym.
  <br />
</p>
<h2>Can I contribute to FLOSS Manuals in other ways?&nbsp;
</h2>
<p> You can do a lot of things - PR, write code, reach out to other projects, start a new language community, raise money etc. The best thing is to join the list and ask how you can get involved.
  <br />
</p>
<h2>Can I change the text of the books at FLOSS Manuals?
</h2>
<p>Yes, this is our promise as a provider of books that can be freely altered and redistributed. In fact, we encourage people to improve our books, and to insert new material to meet local needs. You can edit a book on our site, or download the text and change it on your own site. If you take the text elsewhere, please just attribute our work to the authors and to FLOSS Manuals, and to tell readers how you changed the book.
  <br />
</p>
<p>For details, see the entry in this document about the license. You must use the same license when you redistribute our work and anything you add to it, so that others have the same rights we grant you.
  <br />
</p>
<h2>How are you funded?
</h2>
<p>Good question...no solid answer. Adam pays the rent by facilitating book sprints. FM overheads are covered by organisations that want us to help them write docs.
  <br />
</p>
<h2>Can my organization commission a book?
</h2>
<p>Yes, we encourage organizations dealing with free software and freedom in general to work with us to produce their documentation. You must contact our site to begin a book.
</p>
<p> Among the organizations that are actively working with FLOSS Manuals to meet their documentation needs are Google, One Laptop Per Child, Sugar Labs, and the Mozilla Foundation.
</p>
<h2>What happens to the money made on book sales?
</h2>
<p>Money made on book sales goes back to FLOSS Manuals to further their aims. If you have ideas for fundraising or donation campaigns based on book sales, we would love to help you with that concept.
  <br />
</p>
<h2>How do I get a translation of a book on FLOSS Manuals?&nbsp;
</h2>
<p>The process of getting translation of a book/manual published on FLOSS manuals includes the following steps:
</p>
<ul>
  <li>reviewing the book/manual for its quality and relevance by FLOSS manuals SMEs </li>
  <li>making necessary changes to meet FLOSS manuals writing criteria </li>
  <li>translating the manual </li>
  <li>publishing the manual under the related category onto the FLOSS manuals website
  <br /> </li>
</ul>
<h2>How do I translate a book on FLOSS Manuals?
  <br />
</h2>
<p>You can simply register on FLOSS Manuals's translation website, choose your desired manual/chapter and start translating it. Since the FLOSS manuals is committed to maintain the quality of its contents, your contribution will be reviewed by the maintainer of the manual, and be published onto the website after final approval.
  <br />
</p>
<h2>Do you only translate manuals from English?
</h2>
<p>No, manuals can be written in any language. We have used French language material extensively as sources for manuals, and we are organizing groups to write in several other languages. If you would like to start a group for another language, please contact us.
  <br />
</p>
</div>
<div id='credits' style='display:none;'>
<br><br><br><p>
<h1><a name="Credits"></a>Credits</h1><p>There are many involved in FLOSS Manuals from contributers to maintainers, to board members. Here is a quick list of some of those people with 'appointed positions' (not including people that have registered and contributed):
</p>
<p><strong>Founder : </strong>Adam Hyde
  <br /><strong>Programmer : </strong>Aleksandar Erkalovic
  <br /><strong>Programmer : </strong>Douglas Bagnall
</p>
<h2>Supported by
</h2>
<p>FLOSS Manuals is indepted to the advice and support of the following organisations and individuals: <a target="_blank" href="http://www.lottemeijer.com">Lotte Meijer</a><a target="_blank" href="http://www.lottemeijer.com">,</a> Aleksandar Erkalovic, <a target="_blank" href="http://www.selectparks.net">Julian Oliver</a>
  <br />
  <br /><strong> Digitale Pioneers </strong>
  <br> Digital Pioneers provided strong moral support and initial technical development funds
  <br /> <a href="http://www.digitalpioneers.org/">http://www.digitalpioneers.org/</a>
</p>
<p>
  <strong> TWiki </strong>
  <br>FLOSS Manuals is built on TWiki and extended with our own plugins (we contribute these back to the TWiki community)
  <br /> <a href="http://www.twiki.org/">http://www.twiki.org</a>
</p>
<p><strong>Google</strong>
<br>Google provided initial funding for the 2008 FLOSS Manuals Inkscape Book Sprint
<br><a href='http://www.google.com'>http://www.google.com</a>
</p>
<p><strong>NLNET</strong>
<br>NLNET provided initial funding for PDF generation using Pisa and Reportlab
<br><a href='http://www.nlnet.nl'>http://www.nlnet.nl</a>
</p>
<p><strong>Clean Bits</strong>
<br>Clean Bits sponsored FLOSS Manuals attendance at Wikimania  2007
<br><a href='http://www.cleanbits.nl'>http://www.cleanbits.nl</a>
</p>
<p>
<strong>Pisa</strong><br>
Many thanks to Dirk and all at Pisa for their wonderful PDF engine.<br><a href='http://www.htmltopdf.org/'>http://www.htmltopdf.org/</a>
</p>
</div>
<div id='contact' style='display:none;'>
<br><br><br>
<p>Adam Hyde<br> <a href="mailto:adam@flossmanuals.net">adam@flossmanuals.net</a>
<br>FLOSS Manuals Stichting
  <br />3E Kostverlorenkade 35D
  <br />1054 TS Amsterdam
  <br />Netherlands
</p>
<h2>Mailing Lists + RSS
</h2>
<p>General discussion list :
<br>
<a target="_blank" href="http://lists.flossmanuals.net/listinfo.cgi/discuss-flossmanuals.net%20">http://lists.flossmanuals.net/listinfo.cgi/discuss-flossmanuals.net </a>
</p>
<p>RSS feed (news about developments and manual releases/ and updates) :
<br>
<a target="_blank" href="http://www.flossmanuals.net/rss">http://www.flossmanuals.net/rss</a>
</p>
<p>
</div>
<div id='blog'>
<br><br><br><p>
<a href='/rss'>Subscribe to this news feed (RSS)</a><br>
<a href='mailto:adam@flossmanuals.net?subject=News Subscribe'>Subscribe to FLOSS Manuals announcement emails</a>
<content-goes-here/>
</div>
			</td>
			</tr>
		</table>
		</div>
</body>
</html>
